<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= title %> </title>
    <link rel="stylesheet" href="/styles.css" >
</head>
<body>
    <header> 
        <h1 class="title">CPAN 212 Project</h1>
        <nav>
            <ul>
                <li><a href="/movielist">List of Movies</a></li>
                
                <li><a href="/insert">Add New Movie</a></li> 
                
                <% if (session.user) { %>
                    <li style="color: #FFC6AC; font-weight: bold; display: inline; margin-right: 1rem;">
                        Welcome, <%= session.user.UserName %>!
                    </li>
                    
                    <li>
                        <form action="/logout" method="POST" style="display:inline;">
                            <button type="submit" class="logout-btn">Logout</button>
                        </form>
                    </li>
                <% } else { %>
                    <li><a href="/login">Login</a></li>
                <% } %>
            </ul>
        </nav>
    </header>